*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    box-sizing: inherit;
    /* force inheritence */
}

html {
    //This defines what 1 rem is so thats why it is not in typography and there. 
    font-size: 62.5%;
    /* 10px  100%===16px (default)*/
}


body {
    box-sizing: border-box;
}
