.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
     margin-top: -25vh;

}

.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)), url(../img/nat-4.jpg);
    margin-top: -12rem;
    transform: skewY(-7deg);
    & > *{
        transform: skewY(7deg);
    }
    
}

.section-tours{
    clip-path: polygon(0 15vh, 0 100%, 100% 100%, 100% 0);
    margin-top: -15vh;
    padding: 25rem 0 15rem 0;
    background-color: $color-grey-light-1;
    position: relative;
/*     height: 100rem;
    z-index: -1; */
}

.section-stories{
    position: relative;
    padding: 15rem 0;
    
}